.container {
  max-width: 36rem;
  padding: 3rem 3rem;
  border-radius: 2.5rem;
  margin: 3rem auto 6rem;
  background: Pink;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1.5rem 1.5rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
