.heading {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.heading2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.content {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}
